/* index.html */
#body {
   background-color: #e6e6fa;
   font-size: 25px;
}

#textHeigtStyle{
    justify-content: baseline;
}

#secretBtn{
    background-color: #e6e6fa;
    padding: 50px 70px;
    border-radius: 50%;
    size: 100px;
    border: none;
    position: fixed;
    z-index: 999;
}

/* bye.html */

#byeBody {
    overflow: hidden;
    background-color: #000000;
}

#byeText1 {
    font-size: 230px;
    display: flex;
    justify-content: center;
    color: #ff0000;
}

#byeText2{
    color: #0a0a0a;
}

#byeBtn{
    background-color: #000000;
    padding: 50px 70px;
    border-radius: 50%;
    size: 100px;
    border: #000000;
    position: absolute;
}


/* hello.html */
#helloBody{
    overflow: hidden;
    background-color: #005885;
}

#helloText1 {
    font-size: 230px;
    display: flex;
    justify-content: center;
    color: #b7d4e1;
    text-shadow:  30px 10px #004466;
}

#helloText2 {
    color: #b7d4e1;
}
 
#helloBtn{
    background-color: #005885;
    border: none;
    padding: 130px 150px;
    position: absolute
}   

/* Secret.html */

#secretBody{
    background-color: #e6e6fa;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}

button{
    width: 100px;
    height: auto;
}

#colorGood1{
    background-color:#FFFFFF ;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    display: flex;
    justify-content: center;
} 
#colorGood2{
    background-color:#b7d4e1 ;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    display: flex;
    justify-content: center;
}
#colorGood3{
    background-color: #00fbff;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    display: flex;
    justify-content: center;
}
#colorGood4{
    background-color:#00aeff ;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    display: flex;
    justify-content: center;
}
#colorGood5{
    background-color:#00aaff ;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    display: flex;
    justify-content: center;
}
#colorGood6{
    background-color:#0c73a6 ;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
}
#colorGood7{
    background-color:#005885 ;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
}
#colorGood8{
    background-color:#004466 ;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
}

#colorBad1{
    background-color:#ff0000 ;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
}
#colorBad2{
    background-color:#000000 ;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;    
    border: none;
    display: flex;
    justify-content: center;
}

/* NameSame.html */
#nameJayBtn{
    background-color: #00aeff;
    padding: 15px 30px;
    border-radius: 4%;
    size: 100px;
    border: none;
}

#fakeBtn {
    background-color: #ffffff;
    padding: 50px 70px;
    border-radius: 50%;
    size: 100px;
    border: none;
    position: fixed;
    z-index: 999;
}

#secretText {
    display: none;
}

#fakeText{
    display: none;
}

#invisibleText{
    color: #ffffff;
}
